{%extends 'base.html'%}

{%block title%}
    <title>{{note.title}}</title>
{%endblock%}

{%block content%}
    <div class="border border-secondary rounded text-light bg-dark mx-2 my-2 px-3 py-2">
    <h3>{{note.title}}</h3>
    <pre>{{note.text}}</pre>
    </div>
    <a href="/notes/update/{{note.pk}}"><button class="btn btn-md btn-dark my-2 mx-2" type="button">Edit Note</button></a>
    <a href="/notes/delete/{{note.pk}}"><button class="btn btn-md btn-dark my-2" type="button">Delete Note</button></a>
    <a href="/notes/{{note.pk}}/email"><button class="btn btn-md btn-dark my-2 mx-2" type="button">Email Yourself</button></a>

{%endblock%}